.stake_title {
  color: white;
  font-size: 6vh;
  font-weight: 600;
  margin-top: 10vh;
}

.step_title {
  color: white;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.stake_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.step_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40%;
  margin-top: 10vh;
  background-color: #222222;
}

.stake_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 70%;
}

.img_container {
  height: 16vh;
  margin-bottom: 1vh;
}

.stake_img1 {
  background-image: url("../../assets/stake.png");
  background-size: cover;
  width: 12vh;
  height: 15vh;
  margin-bottom: 2vh;
}

.stake_img2 {
  background-image: url("../../assets/person.png");
  background-size: cover;
  width: 8vw;
  height: 16vh;
  margin-bottom: 2vh;
}

.stake_img3 {
  background-image: url("../../assets/money.png");
  background-size: cover;
  width: 13vh;
  height: 15vh;
  margin-bottom: 2vh;
}

.stake_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 70%;
}

.stake_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 70%;
}
