.stake_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 70%;
  margin: 10px;
}

.stake_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 70%;
}

.stake_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 70%;
}
