// @import "compass/css3";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit:wght@500&family=Oswald:wght@500&family=Patrick+Hand&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit:wght@500&family=Oswald:wght@500&family=Patrick+Hand&family=Questrial&family=Rock+Salt&display=swap");

body {
  background: #1c1c1c;
  font-family: "Questrial", sans-serif;
}

.glitch {
  color: white;
  font-size: 60px;
  position: relative;
  width: 600px;
  font-family: "Josefin Sans", sans-serif;
  // margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #1c1c1c;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #1c1c1c;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
